@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Mulish-Light'), local('Mulish Light'),
        url(../fonts/Mulish-Light.woff) format('woff2'),
        url(../fonts/Mulish-Light.woff) format('woff');
}

@font-face {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Mulish-Bold'), local('Mulish Bold'),
        url(../fonts/Mulish-Bold.woff2) format('woff2'),
        url(../fonts/Mulish-Bold.woff) format('woff');
}

@font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Gilroy-regular'), local('Gilroy regular'),
    url(../fonts/gilroy-regular.woff2) format('woff2'),
    url(../fonts/gilroy-regular.woff) format('woff');
}